header{
    background-color: blue;
    color: white;
}

.container{

    background-color: lightgray;
    color: black;

}

p{
    color: red;
}

.highlight{

    color: green;

}

.main-content{
    color: yellow;
}

.center{
    text-align: center;
}

.href{
text-decoration-line: underline;

}

.dash{

    text-decoration-line: underline; text-decoration-style: dashed;

}

.bold-text{
    font-weight: bold;
}

#intro{
    font-weight: 300;
}

body{
    font-family:Arial, sans-serif;
}

.custom-font{
    font-family: 'Times New Roman', serif;
}

.heading{
    text-transform: uppercase;
}

.capitalize-text{
    text-transform: capitalize;
}